<div class="form-group">
	<%= label_tag :ntn_no, "NTN #" %>
	<%= text_field_tag :ntn_no, params[:ntn_no], placeholder: "NTN No" %>
</div>
<div class="form-group">
	<%= label_tag :bank_account_no %>
	<%= text_field_tag :bank_account_no, params[:bank_account_no], placeholder: "Bank Account No" %>
</div>
<div class="form-group">
	<%= label_tag :bank_name %>
	<%= text_field_tag :bank_name, params[:bank_name], placeholder: "Bank Name" %>
</div>
<div class="form-group">
	<%= label_tag :bank_branch %>
	<%= text_field_tag :bank_branch, params[:bank_branch], placeholder: "Branch" %>
</div>
<div class="form-group">
	<%= label_tag "Medical Insurance" %>
	<%= select_tag :medical_insurance, options_for_select(EmployeesHelper::MedicalInsurance.map{|m| m.split("_").map{|medical| medical.capitalize }.join(" ")}), prompt: "--Select Medical Insurance--" %>
</div>
<div class="form-group">
	<%= label_tag :accrual_bonus %>
	<%= text_field_tag :accrual_bonus, params[:accrual_bonus], placeholder: "Accrual Bonus" %>
</div>