<% if @current_invoices.present? %>
	<div class="row">
		<div class="col-md-12">
			<blockquote>
				<h3><strong><%= @project_name %></strong></h3>
			</blockquote>
		</div>
	</div>
	<% @current_invoices.each do |employee| %>
		<% if employee.employee_id.to_i < 0 %>
			<div class="row">
				<div class="col-md-6">
					<div class="list-group">
					  <a href="#" class="list-group-item">
					    <h4 class="list-group-item-heading">List group item heading</h4>
					    <p class="list-group-item-text">...</p>
					  </a>
					</div>
				</div>
			</div>
		<% end %>
	<% end %>
	<div class="row">
		<div class="col-md-10">
			<div class="row">
				<div class="col-md-3">
					<label>Currency</label>
					<%= select_tag :pkr_and_dollar, options_for_select(["PKR", "US$"].map{|m| m}), class: "form-control" %>
				</div>
				<div class="col-md-3">
					<label>payment Terms</label>
					<%= select_tag :payment_terms, options_for_select(InvoicesHelper::PaymentTerms.map{|m| m}), class: "form-control" %>
				</div>
				<div class="col-md-3">
					<label>Invoice Date</label>
					<%= text_field :invoice_date, params[:invoice_date], class: "form-control", value: Date.today.strftime('%b %d, %Y'), id: "invoice_date" %>
				</div>
				<div class="col-md-3">
					<label>Invoice Number</label>
					<%= text_field :invoice_no, params[:invoice_no], class: "form-control", id: "invoice_no", placeholder: "Invoice Number" %>
				</div>
			</div>
		</div>
		<div class="col-md-2">
			<%= button_tag "Generate Invoice", class: "btn btn-info", style: "margin-top: 23px;" %>
		</div>
	</div>
	<br />
	<div class="table-responsive">
		<table class="table table-striped table-hover" id="invoices_table">
			<thead>
				<tr>
					<th></th>
					<th>Hours</th>
					<th>% Alloc</th>
					<th>$ Billing</th>
					<th>No of Days Worked</th>
					<th>Description</th>
					<th>Rates (US$)</th>
					<th>Unpaid Leaves</th>
					<th>Amount (US$)</th>
					<th>Reminder</th>
				</tr>
			</thead>
			<tbody>
				<% @current_invoices.each do |invoice| %>
					<tr>
						<td></td>
						<td class="<%= invoice_hours(invoice) %>"><%= editable_for(:hours, invoice) %></td>
						<td><%= invoice.percentage_alloc %></td>
						<td><%= editable_for(:billing, invoice) %></td>
						<td><%= editable_for(:worked_days, invoice) %></td>
						<td><%= editable_for(:description, invoice) %></td>
						<td><%= editable_for(:rates, invoice) %></td>
						<td><%= editable_for(:unpaid_leaves, invoice) %></td>
						<td class="invoice_amount"><%= editable_for(:amount, invoice) %></td>
						<td><%= editable_for(:reminder, invoice) %></td>
					</tr>
				<% end %>
				<tr id="add_new_invoice">
					<td>
						<%= link_to "#", class: "text-warning", data: { toggle: "tooltip", placement: "top" }, title: "Add Custom Invoice", id: "add_inline_invoice_btn" do %> 
							<i class="fa fa-plus-square-o fa-2x"></i> 
						<% end %>
					</td>
					<td colspan="9"></td>
				</tr>
				<tr class="for_total">
					<th>Total</th>
					<th id="invoice_total_hours"><%= @total_hours %></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th id="invoice_total_amount"><%= @total_amount %></th>
					<th></th>
				</tr>
			</tbody>
		</table>
	</div>
<% else %>
	<div class="alert alert-info">
		<blockquote style="margin:0;"><strong>No Record Present</strong></blockquote>
	</div>
<% end %>


