<div id="rate-id" style="display:none;"></div>
<div class="modal fade" id="designation_rate_history_<%= designation_id %>">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">History of <strong><span id="designation_name"></span></strong></h4>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table table-striped table-hover history_table"> 
            <thead>
              <tr>
                <th>Date</th>
                <th>Team Based Rates</th>
                <th>Hourly Rates</th>
                <th>Is Active</th>
              </tr>
            </thead>
            <tbody>
              <% rates.each do |rate| %>
                <tr>
                  <td><%= rate.revision_date.strftime("%d %B, %Y") %></td>
                  <td>
                    <a href="javascript:void(0);" class="text-info" data-toggle="tooltip" data-placement="top" title="Click to edit"><%= best_in_place rate, :team_based_rates, :as => :input, 
                                :inner_class => "form-control", :path => rate_path(rate.id) %></a>
                  </td>
                  <td>
                    <a href="javascript:void(0);" class="text-info" data-toggle="tooltip" data-placement="top" title="Click to edit"><%= best_in_place rate, :hour_based_rates, :as => :input, 
                                :inner_class => "form-control", :path => rate_path(rate.id) %></a>
                  </td>
                  <td>
                    <a href="javascript:void(0);" style="text-decoration: none;" data-toggle="tooltip" data-placement="top" title="<%= rate.iscurrent ? 'Click to Active' : 'Click to Inactive' %>" onclick="sendRateId(this);" data-id="<%= rate.id %>" id="rateStatus_<%= rate.id %>">
                      <%= best_in_place rate, :iscurrent, as: :checkbox, collection: ["No", "Yes"], :path => rate_path(rate.id), class: "label #{rate.iscurrent ? 'label-success' : 'label-danger'}" %>
                    </a>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table> 
        </div>
      </div>
    </div>
  </div>
</div>