<% if params[:controller].split("/").first == "reports" %>
  <div class="container-fluid">
    <blockquote class="page-heading">
      <p>
        Reports
      </p>
    </blockquote>
    <div class="row">
      <div class="col-md-3">
        <div class="reports-list-group">
          <%= link_to "Divisions Report", divisions_reports_profitability_reports_path, class: "list-group-item" %>
          <%= link_to "Projects Report", projects_reports_profitability_reports_path, class: "list-group-item" %>
          <%= link_to "Specified Project Based Report", project_reports_profitability_reports_path, class: "list-group-item" %>
          <%= link_to "Division Project Based Report", division_based_reports_profitability_reports_path, class: "list-group-item" %>
          <%= link_to "Designations Project Based Report", designations_reports_profitability_reports_path, class: "list-group-item" %>
          <%= link_to "Employee History Report", employee_history_reports_profitability_reports_path, class: "list-group-item" %>
          <%= link_to "View Full Report", "#", class: "list-group-item", id: "view_full_profitability_report" %>
        </div>
        <br />
        <div class="well">
        <form id="re_calculate_reports" data-url="<%= calculate_profitability_reports_reports_re_calculate_reports_path %>">
          <fieldset>
            <legend>Re-Calculate Profitability Reports</legend>
            <div class="form-group">
              <label for="inputEmail">Select Date to Recalculate:</label>
              <%= text_field_tag :recalculate_month_and_year, params[:recalculate_month_and_year], id: "recalculate_month_and_year", class: "form-control", placeholder: "Select Date" %>
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-primary" id="calculate_reports_data">Calculate</button>
            </div>
          </fieldset>
        </form>
        </div>
        <%#= link_to "#", class: "btn btn-info", id: "recalculate_reports"  do %>
          <!-- <strong>Re-Calculate Profitability Reports</strong> -->
        <%# end %>
      </div>
      <div class="col-md-9">
        <div id="profitability_reports">
          <%= yield :reports %>  
        </div>
      </div>
    </div>
  </div>
  <hr />
  <%#= render "/reports/shared/re_calculate" %>
  <%= render "/reports/shared/full_profitability_report_modal" %>
<% end %>