<% if params[:controller].split("/").first == "reports" %>
  <div class="container-fluid">
    <div class="page-heading-reports">
      <h1>Reports</h1>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="reports-list-group">
          <%= link_to "Divisions Report", reports_divisions_report_path, class: "list-group-item" %>
          <%= link_to "Projects Report", reports_projects_report_path, class: "list-group-item" %>
          <%= link_to "Specified Project Based Report", reports_project_report_path, class: "list-group-item" %>
          <%= link_to "Division Project Based Report", reports_division_report_path, class: "list-group-item" %>
          <%= link_to "Designations Project Based Report", reports_designations_report_path, class: "list-group-item" %>
          <%= link_to "Employee History Report", reports_employee_history_report_path, class: "list-group-item" %>
        </div>
      </div>
      <div class="col-md-9">
        <div id="profitability_reports">
          <%= yield :reports %>  
        </div>
      </div>
    </div>
  </div>
<% end %>