<%= content_for :header, "true" %>
<%= content_for :footer, "true" %>
<!DOCTYPE html>
<html>
	<head>
	  <%= render "layouts/head" %>
	</head>
	<body>
		<% if yield(:header) == "true" %>
			<%= render partial: "layouts/navigation" %>
		<% end %>
		<div class="container">
			<%= render 'layouts/messages' %>
			<main	role="main">
				<%= render 'layouts/reports' %>
				<div id="pjax-container">
					<%= yield %>
				</div>
			</main>
			<% if yield(:footer) == "true" %>
				<footer>
					<%= render "layouts/footer" %>
				</footer>
			<% end %>
		</div>
	</body>
</html>
